{% block body %}
    <h1>Probe</h1>
    {% if app.user is not empty %}
        <p>
            You are logged as {{ app.user.username }}
            <a href="{{ url('app_logout') }}">Logout</a>
        </p>
    {% else %}
        <a href="{{ url('app_login') }}">Log in</a>
        <a href="{{ url('app_register') }}">Register</a>
    {% endif %}

    <h2>{{ probes[0].question }}</h2>
        <p>{{ probes[0].answer1 }}: {{ probes[0].numberOfAnswer1 }}</p>
        <p>{{ probes[0].answer2 }}: {{ probes[0].numberOfAnswer2 }}</p>
        <p>{{ probes[0].answer3 }}: {{ probes[0].numberOfAnswer3 }}</p>

    {% if app.user is not empty and 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_probe_new') }}">Create new</a>
    {% endif %}
{% endblock %}
