<!doctype html>
<html lang="en">
    <head>
        {% block title %}
            <title>Probe</title>
        {% endblock %}
    </head>
    <body>
    {% block body %}
        {% set i = number %}
        <h1>Probe</h1>
        {% if app.user is not empty and votes is not empty %}
            <p>
                You are logged as {{ app.user.username }}
                <a href="{{ url('app_logout') }}">Logout
             </a>

            {% if i >= 0 %}
                <form method="post" action="{{ path('app_probe_vote') }}">
                    <h2>{{ probes[i].question }}</h2>
                    <br>
                    <input type="radio" name="chosen_answer" id="answer1" value="1">
                    <label for="answer1">{{ probes[i].answer1 }}: {{ votesPerProbe[0] }}</label>
                    <br>
                    <input type="radio" name="chosen_answer" id="answer2" value="2">
                    <label for="answer2">{{ probes[i].answer2 }}: {{ votesPerProbe[1] }}</label>
                    <br>
                    <input type="radio" name="chosen_answer" id="answer3" value="3">
                    <label for="answer3">{{ probes[i].answer3 }}: {{ votesPerProbe[2] }}</label>
                    <input type="hidden" name="user_id" value="{{ app.user.id }}">
                    <input type="hidden" name="question_id" value="{{ probes[i].id }}">
                    <br><br>
                    <input type="submit" value="Submit">
                    <br>
                </form>
            {% else %}
                <h1>You've already voted in all probes</h1>
            {% endif %}
        {% else %}
            <a href="{{ url('app_login') }}">Log in</a>
            <a href="{{ url('app_register') }}">Register</a>

            <h2>{{ probes[i].question }}</h2>
            <p>{{ probes[i].answer1 }}: {{ votesPerProbe[0] }}</p>
            <p>{{ probes[i].answer2 }}: {{ votesPerProbe[1] }}</p>
            <p>{{ probes[i].answer3 }}: {{ votesPerProbe[2] }}</p>
        {% endif %}
    {% endblock %}
    </body>
</html>