{% block body %}
    {% set i = random(0, probes|length - 1) %}

    <h1>Probe</h1>

    {% if app.user is not empty %}
        <p>
            You are logged as {{ app.user.username }}
            <a href="{{ url('app_logout') }}">Logout</a>
        </p>
    {% else %}
        <a href="{{ url('app_login') }}">Log in</a>
        <a href="{{ url('app_register') }}">Register</a>
    {% endif %}

    <h2>{{ probes[i].question }}</h2>
        <p>{{ probes[i].answer1 }}: {{ probes[i].numberOfAnswer1 }}</p>
        <p>{{ probes[i].answer2 }}: {{ probes[i].numberOfAnswer2 }}</p>
        <p>{{ probes[i].answer3 }}: {{ probes[i].numberOfAnswer3 }}</p>

    {% if app.user is not empty and 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_probe_new') }}">Create new</a>
    {% endif %}
{% endblock %}
