{% block title %}Probe{% endblock %}

{% block body %}
    <h1>Probe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ probe.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ probe.question }}</td>
            </tr>
            <tr>
                <th>Answer1</th>
                <td>{{ probe.answer1 }}</td>
            </tr>
            <tr>
                <th>NumberOfAnswer1</th>
                <td>{{ probe.numberOfAnswer1 }}</td>
            </tr>
            <tr>
                <th>Answer2</th>
                <td>{{ probe.answer2 }}</td>
            </tr>
            <tr>
                <th>NumberOfAnswer2</th>
                <td>{{ probe.numberOfAnswer2 }}</td>
            </tr>
            <tr>
                <th>Answer3</th>
                <td>{{ probe.answer3 }}</td>
            </tr>
            <tr>
                <th>NumberOfAnswer3</th>
                <td>{{ probe.numberOfAnswer3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_probe_index') }}">back to list</a>

    <a href="{{ path('app_probe_edit', {'id': probe.id}) }}">edit</a>

    {{ include('probe/_delete_form.html.twig') }}
{% endblock %}
